node_modules
.docusaurus
.DS_Store
.env
.vscode/settings.json
.tmp/
build/
content/
i18n/*
!i18n/en/
!i18n/README.md
docs/v**

# yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
