.title {
  text-align: center;
  font-size: 5rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 1rem;
}

.pillFiltersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 96px;
  z-index: 100;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: var(--ifm-card-border-radius);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;

  [data-theme='dark'] & {
    background: rgba(36, 37, 38, 0.9);
  }
}

.pillFiltersList {
  flex-wrap: wrap;

  @media (max-width: 769px) {
    display: none;
  }
}

.pillFilter {
  display: flex;
  align-items: center;
  user-select: none;
}

.filterBadge {
  margin-left: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 80%;
}

.dropdownFilter {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  @media (min-width: 768px) {
    display: none;
  }

  &::after {
    color: var(--ifm-button-color);
    content: '▼';
    cursor: pointer;
    height: 100%;

    position: absolute;
    right: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.dropdownFilterItem {
  width: 100%;
  cursor: pointer;
}

.dropdownMenu {
  width: 100%;
}

.appCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 512px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.favsContainer {
  padding: 40px;
  margin: 0 -40px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: var(--ifm-card-border-radius);

  @media (max-width: 1200px) {
    margin: 0;
  }
}

.allContainer {
  @media (max-width: 1200px) {
    padding: 40px;
  }
}
