@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.not_title {
  color: rgb(85, 217, 243);
  font-size: 5em;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
.not_title2 {
  font-family: 'Roboto', sans-serif;
}
.not_para {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
