// TODO: Test these on mobile
.api-history {
  transform: translateY(
    calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading) * -0.5)
  );

  summary {
    width: fit-content;
    font-weight: normal;
    font-style: italic;

    &:hover {
      cursor: pointer;
    }
  }

  & > div > div {
    border-top: 0;
    padding-top: 0;
    margin-top: 0.5rem;
  }

  table {
    font-size: 1rem;
    margin-bottom: 0;

    tr {
      background-color: var(--ifm-table-background);
    }

    td {
      pre {
        text-align: center;
        margin: 0;
        padding: 0.5rem;
      }

      &:nth-child(1) > a:not(:first-child) > pre {
        margin-top: 0.5rem;
      }

      &:nth-child(2) {
        width: 100%;
        text-align: center;

        code {
          line-height: normal;
          padding: 0.1rem 0.4rem;
        }

        p {
          font-size: inherit;
          text-align: left;
        }

        pre {
          font-weight: bold;
          letter-spacing: 0.04rem;
          color: var(--ifm-badge-color);

          &.api-added {
            background-color: var(--api-history-added);
          }

          &.api-deprecated {
            background-color: var(--api-history-deprecated);
          }
        }
      }
    }
  }
}
