name: Check Blog Links

on:
  pull_request:
    branches:
      - main
    paths:
      - blog/*.md

jobs:
  check-blog-links:
    name: Check Blog Links
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 20.x
      - name: Install dependencies
        run: yarn install
      - name: Check for changed blog posts
        id: check-for-changed-blog-posts
        uses: tj-actions/changed-files@d6babd6899969df1a11d14c368283ea4436bca78 # v44.5.2
        with:
          files: blog/*.md
      - name: Check blog post links
        if: steps.check-for-changed-blog-posts.outputs.any_changed == 'true'
        run: npx electron-lint-markdown-links --ignore-path .markdownlintignore --fetch-external-links ${{ steps.check-for-changed-blog-posts.outputs.all_changed_files }}
