name: Push and publish main

on:
  schedule:
    # twice a day at midnight and noon
    - cron: '0 0,12 * * *'
  push:
    branches:
      - main

concurrency: publish

jobs:
  # Make a reusable workflow
  crowdin-upload:
    name: Upload to Crowdin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag: v4.1.1
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # tag: v4.0.2
        with:
          node-version: 20
      - name: Install dependencies
        uses: bahmutov/npm-install@d476752204653fb5cce6c09db0eaf220761f5d9e # tag: v1.8.37
      - name: Upload sources to Crowdin
        run: 'yarn i18n:upload'
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

  build-and-deploy:
    uses: electron/website/.github/workflows/build-and-deploy.yml@main
    with:
      branch: main
    secrets:
      SAS: ${{ secrets.SAS }}
