name: 'Update i18n deploy'

on:
  schedule:
    # twice a day at 8:00 and 16:00 UTC
    - cron: '0 8,16 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: 'Build and deploy localized site'
    if: github.repository == 'electron/website'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag: v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # tag: v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable

      - name: Download Crowdin translation
        run: yarn i18n:download
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Update Crowdin glossary
        run: yarn i18n:glossary
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Add Docusaurus problem matcher
        run: echo "::add-matcher::.github/problem-matchers/docusaurus.json"

      - name: Build
        run: yarn i18n:build

      - name: Sync build directory to Azure Blob Storage
        # The i18n build produces the default locale anyways so we can just sync the whole build directory
        run: cd build && ../scripts/bin/azcopy sync "./" "https://electronwebsite.blob.core.windows.net/%24web?$SAS" --delete-destination=true --compare-hash=MD5
        env:
          SAS: ${{ secrets.SAS }}
      - name: Upload azcopy debug logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: debug-log
          path: /home/runner/.azcopy/*.log
          include-hidden-files: true
          retention-days: 3
