name: 'Update i18n deploy'

on:
  schedule:
    # twice a day at 8:00 and 16:00 UTC
    - cron: '0 8,16 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: 'Build and deploy localized site'
    if: github.repository == 'electron/website'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag: v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # tag: v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable

      - name: Download Crowdin translation
        run: yarn i18n:download
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Update Crowdin glossary
        run: yarn i18n:glossary
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Add Docusaurus problem matcher
        run: echo "::add-matcher::.github/problem-matchers/docusaurus.json"

      - name: Build
        run: yarn i18n:build

      - name: Sync build directory to Azure Blob Storage
        # The i18n build produces the default locale anyways so we can just sync the whole build directory
        run: cd build && ../scripts/bin/azcopy sync "./" "https://electronwebsite.blob.core.windows.net/%24web?$SAS" --delete-destination=true --compare-hash=MD5
        env:
          SAS: ${{ secrets.SAS }}
      - name: Upload azcopy debug logs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: debug-log
          path: /home/runner/.azcopy/*.log
          include-hidden-files: true
          retention-days: 3
